<h3>These pets are looking for a home!</h3>

<a [routerLink]="['/new']">Add a pet to the shelter</a>

<!-- {{pets}} -->

<table class = "table table-striped table-bordered">
	<thead>
		<tr>
			<th scope = "col">Name</th>
			<th scope = "col">Type</th>
			<th scope = "col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let pet of pets">
			<td>{{pet.name}}</td>
			<td>{{pet.type}}</td>
			<td>
				<button (click)="details(pet._id)" type = "button" class = "btn btn-info mr-3">Details</button>
				<button (click)="edit(pet._id)" type = "button" class = "btn btn-secondary ml-3">Edit</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- <div *ngFor="let pet of pets">
	{{pet.name}}
</div> -->